@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
}
.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 400px;
}

.calendar .header {
  background-color: green;
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: black;
  font-weight: 700;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border: 1px solid green;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  background-color: white;
  width: calc(100% / 7);
  height: 44px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 400;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 44px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.calendar .day div {
  width: 54px;
  height: 44px;
  position: relative;
  color: black;
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {
  color: grey;
}

.calendar .day div.selected {
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.calendar .day div.today {
  background-color: grey;
}

.display-both {
  display: flex;
  justify-content: center;
  height: 400px;
}

.edit-box {
  text-align: center;
  width: 300px;
  background-color: #e11900;
  color: white;
}
.have-events {
  background-color: brown;
}
.edit-date {
  margin-top: 50px;
}
.edit-date h1 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 1px;
}
.edit-date h3 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-bottom: 20px;
}
