@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
}
body {
  background-color: #e0e0e0;
}
.calendar {
  background-color: white;
  box-sizing: border-box;
  font-size: 1rem;
  padding-left: 20px;
}

.calendar .header {
  line-height: 2rem;
  display: flex;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.calendar .week {
  width: calc(100% / 7);
  line-height: 44px;
  text-align: center;
  font-weight: 700;
}
.calendar .week div {
  width: 100%;
}

.calendar .day {
  cursor: pointer;
  width: calc(100% / 7);
  height: 68px;
  display: inline-block;
  text-align: center;
}

.calendar .day div {
  width: 54px;
  height: 44px;
  position: relative;
  color: black;
  line-height: 44px;
}

.calendar .day div.before {
  color: grey;
}

.calendar .day div.selected {
  background-color: #bdbdbd;
  color: white;
  font-weight: bold;
}

.calendar .day div.today {
  color: white;
  background-color: #e11900;
  font-weight: bold;
}

.display-both {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 400px;
  margin-top: 115px;
  box-shadow: 0 0 10px #e0e0e0;
}

.edit-box {
  text-align: center;
  flex: 0.4;
  background-color: #e11900;
  color: white;
}
.have-events {
  background-color: brown;
}
.edit-date {
  margin-top: 50px;
}
.edit-date h1 {
  font-size: 70px;
  font-weight: 500;
  letter-spacing: 1px;
}
.edit-date h3 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-bottom: 20px;
}
.no-event {
  margin-top: 40px;
  margin-bottom: 40px;
}
.events {
  overflow-y: scroll;
  height: 100px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.event-list {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
.event-list h4 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
}
.event-list button {
  background-color: white;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}
.input-1 {
  height: 20px;
  border: none;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.from-to {
  display: flex;
  justify-content: center;
}
.from-to input {
  width: 85px;
  height: 20px;
  border: none;
  font-size: 16px;
  margin-bottom: 5px;
}
.one-input {
  margin-left: 20px;
}
.btn-submit button {
  height: 30px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  border: none;
  background: white;
  width: 50px;
}
.btn-submit {
  margin-left: 33px;
  text-align: left;
}
@media (max-width: 650px) {
  .edit-box {
    flex: 1;
  }
  .calendar {
    flex: 1;
  }
}
